* {
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #fffeaa; }

header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr; }
  header img {
    grid-column: 2;
    width: 60%;
    place-self: center; }
  header .button {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    text-decoration: none;
    text-transform: lowercase;
    color: gold;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-weight: bold; }
  header .learn {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    text-decoration: none;
    text-transform: lowercase;
    color: gold;
    justify-self: end; }
  header nav {
    grid-column: 2;
    justify-self: end; }
  header li {
    list-style: none;
    align-self: center;
    display: inline-block; }

footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #ffc230;
  color: white;
  padding: 15px; }
  footer .button {
    color: white;
    font-weight: bold;
    grid-column: 1;
    text-decoration: none; }
  footer .arrow {
    grid-column: 3;
    text-decoration: none;
    color: white;
    justify-self: end; }

.happy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0; }
  .happy .benefits {
    display: grid;
    grid-template-rows: .0fr 1fr;
    grid-template-columns: 1fr;
    grid-column: 3;
    padding: 1rem;
    /*margin-left: -9rem*/ }
  .happy .mockup {
    grid-column: 2;
    grid-row: 1; }
  .happy .happyface {
    place-self: center;
    transform: rotate(-10deg);
    width: 80%; }
  .happy img {
    width: 100%;
    z-index: -1; }
  .happy h1 {
    color: #FF8D8D;
    margin: 0;
    padding: 0; }
  .happy p {
    color: #FF8D8D; }

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 30px; }

.excited {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr; }
  .excited .features {
    display: grid;
    grid-template-rows: 0fr 1fr;
    grid-template-columns: 1fr;
    grid-column: 2;
    padding: 1rem;
    grid-row: 1;
    text-align: right;
    margin-right: -8rem; }
  .excited img {
    justify-self: center;
    transform: rotate(10deg);
    width: 70%;
    grid-column: 3;
    margin: -3rem;
    margin-right: -8rem; }
  .excited h1 {
    color: #C954D6;
    margin: 0;
    padding: 0; }
  .excited p {
    color: #C954D6; }

.tired {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  margin: 0; }
  .tired .socialmedia {
    display: grid;
    grid-template-rows: .0fr 1fr;
    grid-template-columns: 1fr;
    grid-column: 2;
    padding: 1rem; }
  .tired img {
    justify-self: center;
    transform: rotate(-10deg);
    grid-column: 1;
    width: 80%; }
  .tired h1 {
    color: #f7b542;
    margin: 0;
    padding: 0; }
  .tired ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    place-content: center;
    font-size: 3rem;
    color: #f57c00;
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
