
* {
  box-sizing: border-box;
  font-weight: 400;

    font-family: 'Montserrat', sans-serif;

}
body{
	  background-color: #fffeaa;
}

header{
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 1fr;
	

	img{
		grid-column: 2;
		width: 60%;
		place-self: center;
		
	}
	
	.button{
		grid-column: 3;
		grid-row: 1;
		align-self: center;
		text-decoration: none;
		text-transform: lowercase;
		color: white;
		border-radius: 10px;
		padding: 5px 10px 5px 10px;
	}
	.learn{
		grid-column: 1;
		grid-row: 1;
		align-self: center;
		text-decoration: none;
		text-transform: lowercase;
		color: white;
		justify-self: end;
	}
	nav {
  	grid-column: 2;
  	justify-self: end;

	}
	li {
  	list-style: none;
 	 align-self: center;
 	 display: inline-block;
	}
}
